<style>
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  li {
    display: inline-flex;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
  }

  a {
    color: black;
    font-size: 20px;
    text-decoration: none;
  }

</style>

<h1>Welcome LMS</h1>
<h2>You can Manage Study Metrial Here</h2>
<ul>
  <li>
    <a routerLink="upload">Upload Material</a>
  </li>
  <li>
    <a routerLink="delete">Delete Material</a>
  </li>
  <li>
    <a routerLink="rate">Rate Material</a>
  </li>
</ul>
<router-outlet></router-outlet>
